{% load static %}
{% load crispy_forms_tags %}

<html lang="en">

<head>

     <title>Doctor Code | Tutorials on medical topics and programming</title>
     <link rel="icon" type="image/x-icon" href="{% static 'core/images/faviconish.png' %}">

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description"
          content="Blog post on our youtube session of QandA, tutorials on programming language, social media video downloader">
     <meta name="keywords"
          content="youtube, blog, medicine, study medicine, question and answer, programming, python, django, flutter, web3, solidity, youtube downloader, video downloader, twitter, instagram video downloader">
     <meta name="author" content="Doctor, snavetech, evanschan, doctorcode, chancity">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'core/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
     <!-- SCRIPTS -->
     <script src="{% static 'core/js/jquery.js' %}"></script>
     <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'core/js/smoothscroll.js' %}"></script>
     <script src="{% static 'core/js/custom.js' %}"></script>

</head>
<style>
     .postblog {
          width: 100%;
          padding: 3px;
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
     }

     .postimg {
          width: 30%;
          text-align: left;
     }

     .postinfo {
          width: 70%;
          text-align: justify;
     }

     .postinfo h5,
     h6,
     p {
          margin: 0;
          margin-bottom: 8px;
          padding: 0;
     }

     .related_article {
          margin-top: 50px;
          margin-bottom: 50px;
     }

     .postimage {
          width: 596px;
          height: 450px;
     }
</style>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     {% include 'nav.html' %}

     <section>
          <div class="container">
               <h2>{{ post.title }}</h2>

               <p class="lead">
                    <i class="fa fa-user"></i> {{ post.author }} &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i> {{ post.created_on }} &nbsp;&nbsp;&nbsp;
               </p>

               {% if post.image %}
               <img class="img-responsive" src="{{ post.image.url }}" alt="">
               {% else %}
               <img src="{% static 'core/images/product-1-720x480.jpg' %}" class="img-responsive" alt="">
               {% endif %}

               <br>

               <h3>{{ post.subtitle }}</h3>


               <p>{{ post.content | safe }}</p>

               <br>
               <br>

               <div class="row">
                    <div class="col-md-4 col-xs-12 pull-right">
                         <h4>Social share</h4>

                         <p>
                              <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;&nbsp;&nbsp;

                              <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;

                              <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                         </p>

                         <br>


                         <h4>Other posts</h4>

                         <ul class="list">
                              {% for post in all_post %}
                              <a href="{% url 'post_detail' post.slug  %}">
                                   <div class="postblog">
                                        <div class="postimg">
                                             {% if post.image %}
                                             <img src="{{ post.image.url }}" alt="" height="100" width="100">
                                             {% else %}
                                             <img class="card-img-top toptwoimg"
                                                  src="https://static.vecteezy.com/system/resources/previews/006/309/690/non_2x/creative-real-estate-logo-design-house-logo-design-real-estate-icon-vector.jpg"
                                                  alt="" height="100" width="100">
                                             {% endif %}
                                        </div>
                                        <div class="postinfo">
                                             <h5>{{ post.title }}</h5>
                                             <h6>{{ post.subtitle }}</h6>
                                             <p style="font-size: 10px;">By {{ post.author }} | {{ post.created_on}}
                                             </p>
                                        </div>
                                   </div>
                              </a>
                              {% endfor %}
                         </ul>
                    </div>

                    <div class="col-md-8 col-xs-12">
                         <h4>{{ comments.count }} comment(s)</h4>

                         {% for comment in comments %}
                         <div class="commentname">
                              <p>
                                   <b>{{ comment.name }}</b>
                                   <small>
                                        {{ comment.created_on }}
                                   </small>
                              </p>
                              {{ comment.body | linebreaks }}
                         </div>
                         <hr class="hr1">
                         {% endfor %}

                         <br>

                         <h4>Leave a Comment</h4>

                         <div class="container">
                              {% if new_comment %}
                              <div class="alert alert-success" role="alert">
                                   Your comment is awaiting moderation
                              </div>
                              {% else %}
                              <form method="post" style="margin-top: 1.3em;">
                                   {{ comment_form | crispy }}
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                              </form>
                              {% endif %}
                         </div>
                    </div>
               </div>
          </div>
     </section>

     {% include 'footer.html' %}

</body>

</html>